<div class="email-status">
  <p>Want to contact us about {{emailSubject}}?  Email us at {{addressee}}@chef-tracker.ember</p>
  {{yield}}

  {{#if hasBlock}}
    <p>You're using a block component!</p>
  {{else}}
    <p>Sorry, no block component</p>
  {{/if}}
</div>
