
<p>Want to know if your favorite chef is cooking right now? Chef Tracker has your back.</p>

{{#collapsible-component as |isOpen component|}}
  <div {{action 'toggleOpen' target=component}} class="title-bar">
    <span class="pull-left">{{if isOpen 'See less...' 'See more...'}}</span>
  </div>
  <br>
  {{#if isOpen}}
  <p>Chef Tracker is sponsored by a shadowy cabal of food manufacturers.</p>

  <p>But we assure you, there is no cause for alarm.</p>
  {{/if}}
{{/collapsible-component}}

<hr>
<p>{{email-status}}</p>
